
<b>Parent Component:</b>
<div class="border">

Enter data to send to component One: <textarea type="text" #inputRef1 (keyup)="0" placeholder="Enter anything..." value="{{data1}}" ></textarea><br /><br />
Enter data to send to component Two: <textarea type="text" #inputRef2 (keyup)="0" placeholder="Enter anything..." value="{{data2}}" ></textarea><br /><br />

<br /><br /><br /><br /><br />


Component One:<br />
<app-componentone [inputField1]="inputRef1.value" (child1EventEmitter)="getdata($event, 1)"></app-componentone><br /><br /><br />

Component Two:<br />
<app-componenttwo [inputField2]="inputRef2.value" (child2EventEmitter)="getdata($event, 2)"></app-componenttwo>

</div>
<router-outlet></router-outlet>